      .warning {
        color: #eee;
        background: #bc0000;
        padding: 3rem 4rem;
        font-size: 150%;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 1em;
      }

      .warning a {
        color: white;
        text-decoration: underline;
      }

      @supports ((display: -ms-grid) or (display: grid)) {
        .warning {
          display: none;
        }
      }

      #testV1 head {
        display: block;
      }

      #testV1 {
        display: flex;
      }

      #testV1 #style,
      #testV1 #testV1 #result {
        flex-direction: column;
      }

      #testV1 #result {
        align-items: center;
        justify-content: center;
        z-index: 1;
      }

      #testV1 style[contenteditable]:after {
        content: "";
        color: green;
        position: absolute;
        right: 0;
        bottom: 0;
      }

      #testV1 style[contenteditable] {
        display: block;
        font-family: sans-serif;
        text-shadow: none;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 7px;
        padding: 1em;
        white-space: pre;
        margin: 0 20px 20px;
        outline: 0px solid transparent;
    

      }

      #testV1 style[contenteditable]:hover {
        color: white;
        flex: 1;
      }

      #testV1 style#item1:hover {
        background: red;
      }

      #testV1 style#item2:hover {
        background: blue;

      }

      #testV1 style#item3:hover {
        background: green;
      }

      #testV1 style#item4:hover {
        background: rgb(236, 236, 8);

      }

      #testV1 style#conteneur:hover {
        background: black;
      }

      #testV1 #result #it1 {
        background: red;
      }

      #testV1 #result #it2 {
        background: blue;
      }

      #testV1 #result #it3 {
        background: green;
      }


      #testV1 #result #it4 {
        background: rgb(245, 207, 17);
      }


      #testV1 .conteneur {
        height: 378px;
        width: 378px;
        background-color: black;
        color: white;
        resize: both;
        overflow: hidden;
      }

      .item:hover:after {
        position: absolute;
        right: 0;
        bottom: 0;
        content: " < proportion de " attr(id);
      }

      .item:hover {
        position: relative;
        z-index: 20;
      }

            .conteneur:after {
      
              content: "";
      
              position: absolute;
      
              z-index: 1;
      
              top: 0px;
              right: 0;
              bottom: 0;
              left: 0;
      
              background: linear-gradient(0deg, rgba(0, 0, 0, .05) 1px, transparent 2px),
      
                linear-gradient(0deg, rgba(0, 0, 0, .1) 1px, transparent 2px),
      
                linear-gradient(90deg, rgba(0, 0, 0, .05) 1px, transparent 1px),
      
                linear-gradient(90deg, rgba(0, 0, 0, .1) 1px, transparent 1px);
      
              background-size: 1cm 1cm, 1cm 1cm, 1cm 1cm, 1cm 1cm;
      
            }
      
      
            .conteneur {
              position: relative;
              background-color: white ! important;
      
            }